.header-home {
    /* background-image: url(../../images/backgrounds/fondo-arcade1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(
        black 80%,
        transparent
    ); */
    background-color: black;
    position: relative;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-home .bg-arcade {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
}

.header-home .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header-home .nav-container,
.header-home h1 {
    position: relative;
    z-index: 1;
}

.header-home .logo-arcade {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.header-home nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-home .nav-page {
    color: white;
    margin: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
}

.header-home h1 {
    color: black;
    text-align: center;
    max-width: 500px;
    cursor: pointer;
}

.header-home h1:hover {
    color: white;
}